modules = ["python-3.12"]
run = "streamlit run app.py"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "geckodriver", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libjpeg_turbo", "libpng", "pkg-config", "qhull", "tcl", "tk", "which"]

[deployment]
run = ["sh", "-c", "streamlit run app.py --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false"]

[workflows]
runButton = "Start Streamlit App"

[[workflows.workflow]]
name = "Start Streamlit App"
author = 44286224
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.address 0.0.0.0 --server.port 5000 --server.headless true"
